{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Generated",
            "Configuration.php",
            "Server.php"
        ]
    },
    "minMsi": 100,
    "minCoveredMsi": 100,
    "ignoreMsiWithNoMutations": true,
    "logs": {
        "text": "infection-log.txt",
        "perMutator": "per-mutator.md",
        "github": true
    },
    "mutators": {
        "@default": true,
        "InstanceOf_": {
            "ignore": [
                "Mammatus\\Http\\Server\\Middleware\\UnformattedContent::__invoke::20"
            ]
        }
    }
}
