parameters:
	ignoreErrors:
		- '#Call to an undefined method object::#'
		- '#Parameter \#1 \$callback of function array_map expects \(callable\(object\): mixed\)\|null, Closure\(Mammatus\\Http\\Server\\Annotations\\Vhost\): string given.#'
		- '#Illuminate\\Support\\Collection#'
		- '#React\\Async\\async#'
		- '#Mezzio\\Router\\Middleware#'
		- '# with a nullable type declaration\.#'
		- '#ttps:\/\/github.com\/sebastianbergmann\/phpunit\/issues\/4141#'
	ergebnis:
		classesAllowedToBeExtended:
			- Laminas\Diactoros\StreamFactory
			- Mammatus\Http\Server\Generated\AbstractConfiguration
			- Mammatus\LifeCycleEvents\Promise\AbstractPromise
			- Mammatus\Tests\LifeCycleEvents\Promise\AbstractPromiseTest

includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon
